body {
  background-color: #e8feff;
  font-family: sans-serif;
  color: #7c55e0;
}

h1 {
  font-family: "Mali", cursive;
}

img {
  background: #f9e0ff;
  max-width: 200px;
  border-radius: 100px;
}

img:active {
  border-radius: 90px;
}
